<link rel="stylesheet" href="/static/ajax/css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/static/ajax/js/jquery-1.7.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/ajax/js/superfish.js"></script>
    <script src="/static/ajax/js/jquery.easing.1.3.js"></script>
    <script src="/static/ajax/js/tms-0.4.1.js"></script>
    <script src="/static/ajax/js/slider.js"></script>
    <script type="text/javascript">
		$(function(){
			function equalHeight(group) {
				var tallest = 0;
				group.each(function() {
					var thisHeight = $(this).height();
					if(thisHeight > tallest) {
						tallest = thisHeight;
					}
				});
				group.height(tallest);
			}	
			equalHeight($(".box-1 .inner"));

			
			$("#tags5").autocomplete({
				minLength:3,
				source: function(req, add){
					var search=$("#tags5").val();
					$.ajax({
						url:'/ajax/',
						async:false,
						dataType:'json',
						type:'GET',
						data:{ 'start': search,},
						success: function(data){
							var suggestions=[];

							$.each(data, function(index, objeto){
								suggestions.push(objeto); 
							});

							add(suggestions);
						},
						error:function(err){
							alert("error");
						}
					});
				}
			});

			

		});
	</script>  
<body>

	<div class="header-meta">

				<div class="ui-widget">
				  <label for="tags5">Ajax con GET: </label>
				  <input id="tags5">
				</div>


				</body>